* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  letter-spacing: 1px; 
  text-align: center;
  }
#lang{
    letter-spacing: 1.1PX;
}
.con{
   
    
    margin: 0 15px;
}

a{text-decoration: none;
color: #337ab7;}

.navbar {
display: flex;
align-items: center;
justify-content: space-between;
padding-left: 5px;
 border-bottom: 1px solid #ddd;
}
.meny{
    display: flex;
    align-items: center;
}
select{    width: 100%;
    margin: 0;
    font-size: 15px;
    font-weight: 800;
    line-height: 0.8;
    text-decoration: none;
     color: #337ab7;
    height: 70px;
    width: 58px;
   background-color: #edf5ff;
    border: 0;
    padding: 0px 8px;
    border-radius: 5px;
    &:hover{
        color: #23527c;
    }
    }
    
    .login{display: block;
        height: 70px;
    padding: 27px 15px;
    margin: 0;
    font-size: 16px;
    font-weight: 700;
    line-height: 1;
    text-decoration: none;
     color: #008ddb;
     font-size: 15px;
     &:hover{
        background-color: #008ddb;
        color: white;
     }
    }
    .glava{
            height: 70px;
    padding: 27px 15px;
       margin: 0;
    font-size: 16px;
    font-weight: 700;
    line-height: 1;
    text-decoration: none;
     color: #008ddb;
     font-size: 15px;
     &:hover{
        background-color: #008ddb;
        color: white;
     }
    }
    /* hr{border: 1px solid #d1d1d1;
   } */
   .fon{
    content: '';
    width: 213px;
    height: 149px;
    position: fixed;
    right: 15px;
    bottom: 80px;
    background: url(../img/s2.png) center no-repeat;
    z-index: 0;
    opacity: 0.3;
   }
   footer{
    height: 60px;
   
    /* padding:20px; */
    font-size: 14px;
    text-align: center;

        position: relative;
    overflow: hidden;
    height: 60px;
    background-color: #ffffff;
    border-top: 1px solid #ddd;
    padding: 20px 15px 0 15px;
    margin-top: 1500px;
}
   .big-fon{
        content: '';
    height: 175px;
    width: 540px;
    background: url(../img/bgimg.png) left top no-repeat;
    position: absolute;
    right: 0;
    bottom: 0;
   }
   .text-con{
    margin: 0 auto;
    max-width: 1135px;
    background-color: #008ddb;
    height: 567px;
    margin-top: 15px;
    display: flex;
align-items: center;
justify-content: space-around;

   }
   .text-right{
    padding: 0 15px;
    
   }
   .auto:hover{
color: #23527c;
 text-decoration-line: underline;

   }
   .text-left{
max-width: 530px;
height: 72px;
padding: 0 15px;

   }
   .close{    float: right;
    font-size: 21px;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    filter: alpha(opacity=20);
    opacity: .2;
    cursor: pointer;
    &:hover{
        opacity: 0.4;
    }
}
.div-text{text-align: left !important;
font-size: 13px;
letter-spacing: 0.5px; 

}
.box{
        color: #8a6d3b;
    background-color: #fcf8e3;
    border-color: #faebcc;
        padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
    margin-bottom: 20px;
}